<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="DinerMax3000.Business.Properties.Settings.DinerMax3000ConnectionString"
			connectionString="Data Source=DESKTOP-JR5PUS6\SQL2017;Initial Catalog=DinerMax3000;Persist Security Info=True;User ID=sa;Password=Admin#!123"
			providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>